<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>현대 스카이워커스 HOME</title>
    <link rel="stylesheet" href="static/css/main.css">
    
</head>
<body>

   <div class="container">

        <img src="https://w.namu.la/s/6b8602aab1532270749fb4007b8aae215f236d0dde7433338db7093d0ff1621b8f777bf6446c5f0addf5ac1030724a09197be4773a1440fcf870e2bed7c5c755b76e9f173187e453631ffa2a475373ce3b45645a38b75f98a92623dc0d693de3"
        alt="절대 경로"style="display:block;margin: auto auto; width=:600px;height:450px"title="현대 스카이워커스 로고">

        <img src="static/img/main.jpg"alt="상대 경로"style="display:block;margin: 10px auto auto 580px;width=:90px;height:70px" title="현대 메인 소개">

        <button type="button" >TEAM</button> 
        <button type="button" class="playerButton">PLAYER</button> 

   </div>

</body>
</html>