<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        table {
            margin-left:auto; 
            margin-right:auto;
        }
        .div_title {
            font-size : 60px;
            font-weight : bold;
            text-align : center;
        }
        .div_position {
            font-size : 30px;
            font-weight : bold;
            text-align : center;
        }
    </style>
    <title>선수명단</title>

</head>
<body>
    	<!-- 컨텐츠 영역 -->
	<section id="container">
        <hr align="center" style="border: solid 10px black; width: 50%;">
		<p class = div_title size = 200 style="text-align:center;">현대 스카이워커스 선수 명단</p>
        <hr align="center" style="border: solid 10px black; width: 50%;">
		<article class="wrp_holder">


			<!-- 컨텐츠 -->
			<section id="wrp_content">


				<!-- 선수소개 -->
				<article id="tab2" class="lst_player mt20">
				
					<p class = div_position size = 100 style="text-align:center;">OUTSIDE HITTER</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001462&t_code=1005&s_part=1"><img src="https://w.namu.la/s/f274f9316e95b3b3f772de6c353452372e4d1c8ff7164e4bdbb82a8aead5327a6b9fdc680096fa8b70dbe640c34f337637982b3f7f70c5bf7782c5cefcba6ded8251fa1fab47b095d7980dcab9af10343226c2109e45088c11380b977fc86d57" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.12&nbsp;&nbsp;전광인(OH)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=1000059&t_code=1005&s_part=1"><img src="https://w.namu.la/s/e27379f2d30941fb559ceb96a9549f93964f81df559ba953b3e67fd04d8f68cf93a90e060bbb73e6e5e948c6c7ee124a9b4edd104af698b7910a7988b4c123ea8127bb8028e2f2047b7ba355d0b0ac22387792c0909affc0c12ec23143ca4f9c" width="290" height="275" alt="" /></a>
                                <p style="text-align:center;">No.6&nbsp;&nbsp;김선호(OH)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=1000138&t_code=1005&s_part=1"><img src="https://w.namu.la/s/523f86e8b92ceb4e6dac0f84c0971b1b72104ba47182c58ae1ed7cf42f67319841088afcb3a433c2f54d35bf4c89407f0992c9960aec04ffbe5fb9f224e2b320742e1e199bd3795619489abe3ccc29a1216fce13d5d5190a0b4a3dbd74e6e96a" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.18&nbsp;&nbsp;홍동선(OH)</p>
                            </td>   
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001377&t_code=1005&s_part=1"><img src="https://w.namu.la/s/df68b8c66b6a3877a17863dab95b583c67f31b799c5f3310e378a08dac05706238dc0e7141a109beda3c2cd61257d22197adb680b6344734febe534b96ad78295ed7813b8457bcb7420a0eed42333fda78daa23fa05741194ec5e9751b6f2221" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.8&nbsp;&nbsp;송준호(OH)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001967&t_code=1005&s_part=1"><img src="https://w.namu.la/s/a8e4fefb3c4b74265c2e76466bcc5d232d8f3c1dea639c8ffb6f9d9816156963130c9cfaaa93e1207832377f690ed56559a89308d36970a7135e4260d7f4957d0c2511081f42ed5efcd4976e0d5e386a7f368d3244d07e5917dd802ca90705a5" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.4&nbsp;&nbsp;함형진(OH)</p>
                            </td>      
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001178&t_code=1005&s_part=1"><img src="https://w.namu.la/s/1a831cc58b4eb5fcd115c696431a262303babfa541596ec5b880048ce34257ea93911b576d7505f1cd1337dd15a434b0ff95aad3bada2e98a5181257607748844c16ac4ce17b3a510b1c6fd032d6a0aed2ecb3ce03a01d54ae7bc51e175a65f1" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.9&nbsp;&nbsp;박주형(OH)</p>
                            </td>
                        </tr>
                    </table>

                    <hr align="center" style="width: 50%;">
					<p class = div_position size = 100 style="text-align:center;">OPPOSITE SPIKER</p>
                    <table>
                        <tr>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001873&t_code=1005&s_part=1"><img src="https://w.namu.la/s/4756bda862f053de6a1369c78384f44cdb636343fa79db204a7d3039dfb7b1f2322dcbb48f68e0df7636624b6908c92a98103ec4270931bd1c7a5d0fa2f1e10e6b5f39c8fdf97a578fec3498a6546ae3799d43f457c464e7c3f0888a2fdad0bf" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.7&nbsp;&nbsp;허수봉(OP)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0000853&t_code=1005&s_part=1"><img src="https://w.namu.la/s/f448a874d1c3514614a9dc08d65dced7d71fa075860a39cd53789f9581981c0e668ede10d95696546e24c247f8e921ee50b0669c107bac542bcc9951fac3710fe44bab8fe7e390ad2f49a2117bfb51e0b92a6f52ed4df96d8644c33a31a5e86b" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.15&nbsp;&nbsp;문성민(OP)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002255&t_code=1005&s_part=1"><img src="https://www.kovo.co.kr/upfiles/player/1000176_1.jpg" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.2&nbsp;&nbsp;히메네즈(OP)</p>
                            </td>                            
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002255&t_code=1005&s_part=1"><img src="https://www.kovo.co.kr//upfiles/player/0001940_1.jpg" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.2&nbsp;&nbsp;펠리페(OP)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002255&t_code=1005&s_part=1"><img src="https://w.namu.la/s/c1a15edd34b0deedfde2257316b6629c8e6d06d07eb190468bde2125dc241b9712d1335bfd5453ad446ac33c6264b61a6969128626f757ab92a846ef8835d87926a7d3b8f703494b3d992785db5452d322c7c51852a70fae651cba048ffc3d7a" width="297" height="275" alt="" /></a>
							    <p style="text-align:center;">No.33&nbsp;&nbsp;최은석(OP)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002255&t_code=1005&s_part=1"><img src="https://i.pinimg.com/originals/f5/05/24/f50524ee5f161f437400aaf215c9e12f.jpg" width="297" height="275" alt="" /></a>
                            </td>
                        </tr>
                    </table>

                    <hr align="center" style="width: 50%;">
					<p class = div_position size = 100 style="text-align:center;">MIDDLE BLOCKER</p>
                    <table>
                        <tr>        
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0000874&t_code=1005&s_part=1"><img src="https://w.namu.la/s/3eff46b97ede64c76657088960b29cf4d8c72e0ad4cb2633e1cbc7a82c9d308b1fc87a03879ab8f51236ca143e3fbfd8ac32a1ae39b44237567ddf1b44c616d16ba6eab282e502515c9657dc407e825f19ce0fbfea26d4d13ddd052bc54c1654" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.11&nbsp;&nbsp;최민호(MB)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0000874&t_code=1005&s_part=1"><img src="https://w.namu.la/s/2125633648292adc7ab730ccda769036eb97b9e9214e14dd8ea346abd263317ac4a56e78075f378f88b3bf6bd035b527250c81ac86d92d3239b0e98ea4415b41fe514b01cbcc2babbc0782e8a2223f66aa454bee6347d41b7502335f604051bb" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.17&nbsp;&nbsp;박상하(MB)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0000874&t_code=1005&s_part=1"><img src="https://file.namu.moe/file/aaa51e9ffea5bd338dfecbe2aec945019912f6209bc3e5a0924ac034855d8da9" width="290" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.1&nbsp;&nbsp;차영석(MB)</p>
                            </td>                            
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0001956&t_code=1005&s_part=1"><img src="https://w.namu.la/s/a15d456490817ec04aa2fcb721355a621110a44b442eb36da2ce103260e4286a1fc6aaae9656ef470a2b7adcb8e406ffe1c856b6a5ef22a2f0fa8c8b4957728d1f56d06feb2ca4b4b9546f977ff02c587b2a73f93998951a6d9853c37d238171" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.23&nbsp;&nbsp;박준혁(MB)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002256&t_code=1005&s_part=1"><img src="https://w.namu.la/s/33fff9cbf9cd56c712dc3cc6fb51ed855f53a5ba210a3155388858a1befec90139ddd4cfa354af478db0ffde2ecd603caf2ed3c6113ec07173c5f6228f862d83c4ae1a0b3a6d7df7c6125890cfc2fdd30de493a0526dde9fa55c2b50e98a63ab" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.71&nbsp;&nbsp;송원근(MB)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002255&t_code=1005&s_part=1"><img src="https://i.pinimg.com/originals/f5/05/24/f50524ee5f161f437400aaf215c9e12f.jpg" width="297" height="275" alt="" /></a>
                            </td>
                        </tr>
                    </table>

                    <hr align="center" style="width: 50%;">
					<p class = div_position size = 100 style="text-align:center;">SETTER</p>
                    <table>
                        <tr>        
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002233&t_code=1005&s_part=1"><img src="https://w.namu.la/s/4cf4ed27ccba174aed097fa27dcec8e59c55fefd48548334464c23ad5180e05466e8898231fb7e4472aca7c0a4b23a30b64f6498500b27a3c129cb409d0616643ebedda32ec9f7b9c08e34a1cb0bce2633eed3d56e240ce66d83eb5b5e4015be" width="297" height="275" alt="" /></a>
					    		<p style="text-align:center;">No.3&nbsp;&nbsp;김명관(S)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002104&t_code=1005&s_part=1"><img src="https://w.namu.la/s/3e1283931bd4dbb8a38de11fc2ca33b671d6e3545cd16787c0abb31dd9ed31e7ec4fc8f7db18b9b689f8e2fa343877b11d740b9f13ebee17f9e1854046b48bd96424eb6bd5f439d04167b5616e61a34a1c418e5c1e2267650b244a0fc7d9d5ad" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.19&nbsp;&nbsp;이원중(S)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0002104&t_code=1005&s_part=1"><img src="https://w.namu.la/s/58d9b4c005f6e13ba2a7705806523d5a5465a93ca4ac69c569cbfc7ba60229f959e9aa23dd54ffa8ecfdf0a9bf5d2933fc0c432ebdf20736e59df4d9acc8d3ca4e78c2329d484bfb98c95f89b2e62b1b" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.4&nbsp;&nbsp;김형진(S)</p>
                            </td>
                        </tr>
                    </table>

                    <hr align="center" style="width: 50%;">
					<p class = div_position size = 100 style="text-align:center;">LIBERO</p>
                    <table>
                        <tr>        
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=1000060&t_code=1005&s_part=1"><img src="https://w.namu.la/s/b07afb7bd3f26e7a2e84d39ecd0d13ce0a668ac2bdf65f28968a565c6372fcf0a055659cb1ecc890786610ee8f24c96ffe4ebbf9dfb4e4b1b97943ff2dcb774c37453e9e764391e2e39b145f5059b018257264d20f6d1040f42732b9f10bfa58" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.13&nbsp;&nbsp;박경민(L)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/21132_player_view.asp?p_code=0000027&t_code=1005&s_part=1"><img src="https://w.namu.la/s/b0e20cc7dab0b9bac3e3dd6490bfb5b5a885c3c5f1504091ef81b85bb8da19278532a79c066ba2802edf6e5f98acb8696173a3b721cec081cf147f163c1a3c0b9bd9082fda0a926cf083894d97935523b7142c09770f5b2a43c5ae7aad174a1a" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.5&nbsp;&nbsp;여오현(L)</p>
                            </td>
                            <td>
                                <a href="https://www.kovo.co.kr/team/toy21132_player_view.asp?p_code=1000061&t_code=1005&s_part=1"><img src="https://w.namu.la/s/a2cffb37d6a05c075299b28f2fe1be7187025e4f047ebba045a40e7c501235bf4995813943b1aa92089e245eb193c910a7581ad36bbcc6e4354911e97e83ef93e64ab25845a3ff9a5b6aed82cb783d2f6f56373ca5954c08dc1e96b6da833c913348d8ea69d4510d04f8886bf97e2d20" width="297" height="275" alt="" /></a>
						    	<p style="text-align:center;">No.16&nbsp;&nbsp;이준승(L)</p>
                            </td>
                        </tr>
                    </table>
				</article>
				<!-- //선수소개 -->

			</section>
			<!-- //컨텐츠 -->

			
		</article>
	</section>
	<!-- //컨텐츠 영역 -->
</body>
</html>