<html lang="ko">
<head>
    <meta charset="UTF-8">
<body>
    <div class="container">
        <div class="test">
            <h1>Graph Test</h1>
        </div>
        <div class="hist_comparison">
            <h2>drawing graph here for test</h2>
            <img src='static/img/hist_comparison.png' alt="graph">
        </div>
        <div class="ace">
            <h2>drawing new graph here for test</h2>
            <img src="static/img/ace_comparison.png" alt="ace_comparison">
            <h3>test</h3>
            <img src="static/img/ace_scatter.png" alt="ace_scatter">
        </div>
    </div>
</body>
</head>
</html>